<h3>Activation Email</h3>
<p>Hello there {{first_name}}!</p>
<p> Thanks for subscribing to Intuition Machine. Please go to activation page to finish your registration,
    your username is <b>{{username}}</b>
    <!--and your initial password is <b>{{password}}</b>. You may change your password upon login.-->
    and your initial password is <b>{{password}}</b>. You may change your password in Profile Settings, after login
    <a href="{{url}}">Follow this link to login .</a>
    <a href="http://www.intuitionmachine.com/"><img src="app/static/img/email_footer.jpg" /></a>
</p> 
